black==24.3.0
charset-normalizer
gym==0.26.2
gymnasium==0.29.1
jax-jumpy==1.0.0
kiwisolver==1.4.5
lazy_loader==0.3
lightning-utilities==0.11.5
matplotlib==3.8.3
mujoco==2.2.0
numpy
opencv-python
pandas
pillow
platformdirs
plotly==5.20.0
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pycparser
pygame==2.5.2
Pygments
PyJWT
pyparsing
python-dateutil
PyYAML
pyzmq
ray==2.22.0
requests
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.12.0
stable_baselines3==2.3.2
sympy
tensorboard
tensorboardX
tensordict==0.5.0
torch
torchaudio
torchmetrics
torchrl==0.5.0
torchvision
tqdm==4.66.4
kaleido